@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --box-color: rgba(53, 33, 8, 0.5);
    --black: #13131a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: url(../images/home-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.main-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.back-box{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--box-color);
    border-radius: 1.5rem;
}

.back-box div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.back-box div p,
.back-box button{
    margin-top: 30px;
}

.back-box div h3{
    font-weight: 400;
    font-size: 1.625rem;
}

.back-box div p{
    font-size: 16px;
    font-weight: 300;
}

.back-box button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius: 0.25rem;
}

.back-box button:hover{
    background: #fff;
    color: var(--main-color);
}

/*Formularios*/

.login-register-container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.login-register-container form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.login-register-container form h2{
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--black);
}

.login-register-container form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 1rem;
    outline: none;
}

.login-register-container form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 0.25rem;
}

.login-form{
    opacity: 1;
    display: block;
}

.register-form{
    display: none;
}



